---
title: Gregory McIntyre
layout: basic
---

<div class="last-updated">
  Last updated <%= Date.iso8601(`git log -n 1 --pretty=format:%aI -- '#{__FILE__}'`).strftime('%d %B %Y') rescue "Never" %>
</div>
<div class="section vcard">
  <h1 class="name fn">Gregory McIntyre</h1>
  <div class="info personal-details">
    <div class="info-item">
      <div class="head">Web</div>
      <div class="value">
        <a class="url" href="http://gregorymcintyre.com">http://gregorymcintyre.com</a>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Mobile</div>
      <div class="value tel">+61 410 276 442</div>
    </div>
    <div class="info-item">
      <div class="head">Email</div>
      <div class="value">
        <a class="email" href="mailto:greg@gregorymcintyre.com">greg@gregorymcintyre.com</a>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Source Code</div>
      <div class="value">
        <a class="code" href="http://github.com/puyo/">http://github.com/puyo/</a>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Location</div>
      <div class="value adr">Sydney, Australia</div>
    </div>
  </div>
</div>
<div class="section">
  <h2>Career Objective</h2>
  <p>
  I create useful software with teams of skilled, hard working, good
  natured professionals. It's the bread and butter stuff of my career and
  it doesn't seem to get old.
  </p>
  <p>
  I also love teaching, tutoring, mentoring and instructing. I've found
  myself getting involved at Rails Camp, Elixir Camp, CampJS, Rails Girls,
  InstallFest, Development Hub, Python Study Group, C/C++ Study Group, and
  General Assembly.
  </p>
</div>
<div class="section">
  <h2>Skills</h2>
  <p>
  I've worn various job hats in small businesses. Let's see. Programmer,
  release manager, trainer, project manager, systems administrator,
  software architect, lead developer, company secretary, director,
  adult education instructor.
  </p>
  <p>
  It has been great fun trying my hand at all these different
  roles, but I feel old now thanks.
  </p>
  <h3>Instruction and Mentoring</h3>
  <p>
  Senior developer roles tend to involve this skill and it's never
  formally trained so I took advantage of training and practice at
  General Assembly to further develop myself in this area. Boy did
  I learn a lot. It was very humbling. I improved a lot as measured
  by my NPS score.
  </p>
  <h3>Development and Design</h3>
  <p>
  Programming was my feeder passion. Late nights staring at a glowing
  screen, taking joy in the touch of creation. Since then I've
  consolidated my skill through university training, corporate training,
  team work, and constant self education.
  </p>
  <p>
  I don't claim to be great at design and I hold a deep respect for those
  who are. I can do a little and I'd love to learn more.
  </p>
  <h3>Management and Team Building</h3>
  <p>
  I read a stack of managerial books once that inspired an interest in
  this challenging role. Let me throw around some words I like. Meaning,
  purpose, autonomy, productivity, efficiency, effectiveness, failure,
  validation, expectations, visibility, empowerment, simplicity, energy
  levels, exercise plans.
  </p>
  <h3>Software Architecture and Design</h3>
  <p>
  I've helped architect telephone billing systems, media rich web
  applications, content management systems, office control systems and
  social mobile applications. I've jointly conducted and recorded user
  interviews. I really like meeting the customers and clients who benefit
  from the software I write, before and after they use it. I strive for
  consensus and clarity, clear priorities, and decision making that is
  deeply grounded, empirical and pragmatic.
  </p>
  <h4>Tools of the Trade</h4>
  <div class="info">
    <div class="info-item">
      <div class="head">Ruby</div>
      <div class="value">
        <p>
        I loved Ruby when we first met around 2001, and then Rails came
        along. Hello career. Rails, Sinatra, writing web sites with
        Middleman, spamming APIs with Typhoeus, solving problems with Faye
        and Redis. The thing I like best about Ruby is how quickly you
        reach a solution to a problem you're having.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Elixir</div>
      <div class="value">
        <p>
        A lot of Ruby devs are learning Elixir because it's got a familiar
        syntax, nice immutable data structures, powerful pattern matching,
        a built in way to grow and distribute load, and attractive
        performance characteristics for web development. I've used it
        professionally since 2017.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Frontend JavaScript</div>
      <div class="value">
        <p>
        ES6, Webpack, AJAX, jQuery, Angular, Ember, Backbone, Mocha, React,
        Redux, D3, Threejs, Mapbox, Leaflet, Google Maps, Yarn. Two great
        problems in programming: cache invalidation and setting up a new
        JavaScript project.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Backend JavaScript</div>
      <div class="value">
        <p>
        Node, Gulp, Express, Cuke, Mocha, Nyc, NSP, Eslint, Sequelize,
        PM2, Keystone, Co and generators and Bluebird promises.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">HTML</div>
      <div class="value">
        <p>
        HTML5, CSS, SVG, SASS, HAML, Slim, vendor prefixes, shivs,
        progressive enhancement, mobile first, LiveReload, responsive
        designs, Android and Mobile Safari, a million IE virtual machines.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Photoshop</div>
      <div class="value">
        <p>
        Layers, masks, drop shadow and emboss, save for web and devices,
        weird arcane keyboard shortcuts. You love it.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">XCode</div>
      <div class="value">
        <p>
        Interface builder, breakpoints, view controllers, transitions, ARC,
        developer certificates. Just drag and drop that library in there,
        a'ite?
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">C/C++</div>
      <div class="value">
        <p>
        An old hobby. Boost, googletest, the rule of three, const
        correctness, resource management, stack unwinding bugs.
        </p>
      </div>
    </div>
    <div class="info-item">
      <div class="head">Agile and Lean</div>
      <div class="value">
        <p>
        Say yes to empowered lil teams, red-green-refactor cycles and
        incrementally releasing to the glow of a pretty green build light.
        Yes!
        </p>
      </div>
    </div>
  </div>
  <p>
  Also a random grab bag of things professionally: Java, Python, Perl,
  assembly, Git, Bash, Vim, Emacs, Spacemacs, etc.
  </p>
</div>
<div class="section">
  <h2>Employment</h2>
  <div class="jobs">
    <div class="job">
      <h3 class="job-name">Senior Developer at Blake eLearning</h3>
      <div class="job-times">
        <span class="from">May 2017</span>
      </div>
      <div class="job-description">
        <p>
        Blake eLearning runs popular websites like <a
                                                       href="https://readingeggs.com.au">readingeggs.com.au</a> with
                                                     programs and games to help kids build their early reading and
                                                     mathematics skills.
        </p>
        <p>
        At Blake, I get to code Elixir and work with a large
        service-oriented architecture in a professional setting. I also
        get to make use of my Rails, JavaScript and CSS skills like
        some kind of unicorn.
        </p>
        <p>We are a bunch of nerds and I feel like I fit in.</p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Senior Developer at Small Multiples</h3>
      <div class="job-times">
        <span class="from">February 2016</span>
        <span class="to">to October 2016</span>
      </div>
      <div class="job-description">
        <p>
        Small Multiples is a small Sydney agency specialising in datavis.
        I dove in and taught myself Node and worked on 100% JavaScript
        projects for Transport NSW, The Australian, The Department of
        Education and Training among others.
        </p>
        <p>
        I learned a lot about Node, ES6, Express, Ava, Mocha, D3, Leaflet,
        Google Maps, Mapbox, React, Redux, PM2 and Keystone DMS. I wrote
        and managed Ansible based AWS deployments and some Git based
        Heroku ones too.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Technical Instructor at General Assembly</h3>
      <div class="job-times">
        <span class="from">September 2015</span>
        <span class="to">to December 2015</span>
      </div>
      <div class="job-description">
        <p>
        I worked full time for three months teaching a class of adults
        web development from scratch. We used JavaScript and Ruby and
        included a lot of group projects.
        </p>
        <p>
        My time was spent explaining tricky concepts to people, lesson
        planning, and assisting, advising and mentoring students.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Contracted Developer at Shippit Pty Ltd</h3>
      <div class="job-times">
        July 2015
      </div>
      <div class="job-description">
        <p>
        I learned how barcodes and data matrixes work and the Ruby and C
        libraries that produce them. I liaised with AusPost to implement
        parcel labelling to meet their requirements. I helped advise the
        start up business on hiring and technology. I built out some
        Rails administrative features.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Software Engineer at yourtutor.com.au</h3>
      <div class="job-times">
        <span class="from">October 2012</span>
        <span class="to">to February 2015</span>
      </div>
      <div class="job-description">
        <p>
        I helped stabilise and expand a web based online tutoring platform
        for school students. It's pretty cool that it all works straight
        out of a web site with live chat and interactive drawing, even all
        the way back in time to IE8.
        </p>
        <p>
        I used a lot of AWS, Ansible, Socket.IO, EventMachine, Redis,
        CoffeeScript and of course Rails.
        </p>
        <p>
        I also did some design and UX things like travelling and
        interviewing clients, watching students use iPads, writing up nice
        summaries, sketching and presenting.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Developer at Protein One</h3>
      <div class="job-times">
        <span class="from">March 2012</span>
        <span class="to">to October 2012</span>
      </div>
      <div class="job-description">
        <p>
        I hooked up with this cool little design studio where I helped
        build Wordpress sites for small businesses and an interactive
        children's lit application for iOS called Dandelion.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Director at We Are Brand New</h3>
      <div class="job-times">
        <span class="from">November 2011</span>
        <span class="to">to March 2012</span>
      </div>
      <div class="job-description">
        <p>
        I teamed up with a few friends to start a business that specialises
        in building early stage ideas for interactive web based products,
        from concept through to release candidates, including UX, IA,
        branding, design, rapid prototyping and iterative
        improvement. Control freaks I guess.
        </p>
        <p>
        I learned about client liaison, business structuring, accounting,
        branding, marketing, business planning, Sencha Touch, Backbone.js,
        Spine, CoffeeScript and PhoneGap.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Senior Software Developer for REA Group</h3>
      <div class="job-times">
        <span class="from">February 2010</span>
        <span class="to">to October 2011</span>
      </div>
      <div class="job-description">
        <p>
        I helped interview and build an agile team and lead it to produce
        HubStudio, a real estate agency focused white labelled DIY web site
        CMS written in Ruby on Rails.
        </p>
        <p>
        ThoughtWorkers and some fantastic REA developers from Melbourne
        trained us on a complete agile software development process
        including card walls, pair programming, red-green-refactor cycles,
        CI servers, BDD and incremental delivery.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Software Developer for Snepo Research</h3>
      <div class="job-times">
        <span class="from">September 2009</span>
        <span class="to">to October 2009</span>
      </div>
      <div class="job-description">
        <p>
        I finished off a RoR Facebook/Bebo app, completing the feature set,
        fixing outstanding issues, and deploying it for the client. I
        rewrote some back end functionality to make it simpler and more
        reliable.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Software Engineer for TileFile</h3>
      <div class="job-times">
        <span class="from">May 2005</span>
        <span class="to">to April 2009</span>
      </div>
      <div class="job-description">
        <p>
        I helped build a start up company from humble beginnings sub-letting
        in a cramped space to a multi-million dollar company sporting some
        superstar developers of the Sydney web community.
        </p>
        <p>
        I designed and developed multimedia rich web applications. I coded
        Rails, Python, ActionScript, architected, interviewed and helped
        manage the team.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Software Engineer for Symbio Networks</h3>
      <div class="job-times">
        <span class="from">March 2004</span>
        <span class="to">to March 2005</span>
      </div>
      <div class="job-description">
        <p>
        I designed and developed billing software for telephone switches. I
        improved a telephone record transfer system. I worked in a team of
        5-6 developers and 2 systems testers with languages such as PHP,
        Java, Ruby, C, WSDL, Bash script and SQL.
        </p>
        <p>
        I also managed the source code management system and build
        procedure for all the company's projects.
        </p>
      </div>
    </div>
    <div class="job">
      <h3 class="job-name">Lab Supervisor for UNSW CSE</h3>
      <div class="job-times">
        <span class="from">Feb 2003</span>
        <span class="to">to June 2003</span>
      </div>
      <div class="job-description">
        <p>
        I co-supervised two lab classes of around 20 students each. I also
        ran a popular after hours consultation for students having
        difficulties with C++ or Python. I gave a lecture introducing Ruby
        to Python programmers.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <h2>Education</h2>
  <div class="qualifications">
    <div class="qualification">
      <h3 class="qualification-name">Bachelor of Engineering (Software Engineering)</h3>
      <div class="qualification-times">1999 to 2004</div>
      <div class="qualification-description">
        <p>
        I started at ANU and finished at UNSW with second class honours
        first division, whatever that means. I loved AI, distributed
        systems, 3D graphics and algorithms.
        </p>
      </div>
    </div>
    <div class="qualification">
      <h3 class="qualification-name">Year 12 Certificate, Narrabundah College, ACT</h3>
      <div class="qualification-times">1997 to 1998</div>
      <div class="qualification-description">
        <p>
        University Admission Index 97.8, Best in Computing Studies. That's
        right. Best.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <h2>Interests</h2>
  <p>
  I love spending time with my kids, hacking on my own code, reading
  awful self help books, drawing pictures that are relevant to those
  around me, writing poetry and stories at night time in proximity to
  others who are doing likewise, playing computer games that require
  perseverance and skill, life drawing, hanging out in swamps, incidental
  cycling, trying to be witty online, and using Oxford commas.
  </p>
</div>
<div class="section">
  <h2>Praise</h2>
  <div class="recommendations">
    <div class="recommendation">
      <blockquote>
        <p>
        Greg is the best developer I have worked with.
        </p>
        <p class="attribution">
        Sharon Gray, Production Manager, 2012
        </p>
      </blockquote>
    </div>
    <div class="recommendation">
      <blockquote>
        <p>
        I worked in Greg's team while he was the lead developer for the server
        development team. Greg was very approachable, open to discussion,
        passionate about technology, and I was impressed with his knowledge and
        intelligence. He will be an asset to any technology company.
        </p>
        <p class="attribution">
        Fiona Lim, Senior Programmer, 2010
        </p>
      </blockquote>
    </div>
    <div class="recommendation">
      <blockquote>
        <p>
        Greg's attention to detail makes him an excellent addition to any
        team. I was always impressed with his ideas and code, making my
        life easier as a sysad to release the software. His extra effort to
        ensure code made it to production bug free didn't go unnoticed.
        </p>
        <p class="attribution">
        Jenny Gordon, Senior Systems Administrator, 2010
        </p>
      </blockquote>
    </div>
    <div class="recommendation">
      <blockquote>
        <p>
        Greg was the one who got me started on one of the most important tools I employ
        nowadays on most of my jobs: Ruby. Sharing insights with him early when I was
        still learning the language pushed me forward to learn more.
        </p>
        <p>
        Apart from that, he's an excellent person to work with. As his
        coworker I had a really enjoyable time, at times cooperating, and
        at times reporting to Greg directly.
        </p>
        <p class="attribution">
        Julio Cesar Ody, Senior Systems Engineer, 2010
        </p>
      </blockquote>
    </div>
    <div class="recommendation">
      <blockquote>
        <p>
        Greg is an exceptional Software Engineer and Manager. He is smart, open to new
        ideas and technologies and has a talent for understanding issues and
        requirements and stating them in concise and clear language.
        </p>
        <p>
        Greg's code is wonderful. He is a programmer who knows his trade
        and produces software of outstanding quality. Greg was a pleasure
        to work with and I would thoroughly recommend him.
        </p>
        <p class="attribution">
        Sara Falamaki, Software Engineer, 2010
        </p>
      </blockquote>
    </div>
    <div class="recommendation">
      <blockquote>
        <p>
        While working with Greg I was ever impressed with his approach to software
        development. Beyond being one of the sharpest engineers I have met, Greg was
        always able to convey complex problems to any audience. He always demonstrated
        great patience with his peers and was an excellent mentor to those around him.
        </p>
        <p class="attribution">
        Simon Rodwell, Lead Flash Developer, 2010
        </p>
      </blockquote>
    </div>
  </div>
</div>
<div class="section">
  <h2>References</h2>
  <div class="references">
    <div class="reference">
      <h3>Gigi Tsang</h3>
      <div class="info">
        <div class="info-item">
          <div class="head">Relationship</div>
          <div class="value">Education Program Producer at General Assembly</div>
        </div>
        <div class="info-item">
          <div class="head">Email</div>
          <div class="value email">gigi@generalassemb.ly</div>
        </div>
        <div class="info-item">
          <div class="head">Phone</div>
          <div class="value tel">+61404295729</div>
        </div>
      </div>
    </div>
    <div class="reference">
      <h3>Trevor Novak</h3>
      <div class="info">
        <div class="info-item">
          <div class="head">Relationship</div>
          <div class="value">Colleague at yourtutor.com.au</div>
        </div>
        <div class="info-item">
          <div class="head">Email</div>
          <div class="value email">teeerevor@gmail.com</div>
        </div>
        <div class="info-item">
          <div class="head">Phone</div>
          <div class="value tel">+61409909209</div>
        </div>
      </div>
    </div>
    <div class="reference">
      <h3>Darren Gray</h3>
      <div class="info">
        <div class="info-item">
          <div class="head">Relationship</div>
          <div class="value">Manager at realestate.com.au</div>
        </div>
        <div class="info-item">
          <div class="head">Email</div>
          <div class="value email">darren@graymatterit.com</div>
        </div>
        <div class="info-item">
          <div class="head">Phone</div>
          <div class="value tel">+61412800142</div>
        </div>
      </div>
    </div>
  </div>
</div>
