$blue: hsl(200, 100, 80)
$pink: hsl(300, 100, 80)
$faded: hsl(0, 0, 80%)
$faded-transparent: hsla(0, 0, 0, 0.5)
$faded-transparent-bg: hsla(0, 0, 0, 0.25)
$faded-bg: #f8f8f8
$dark-blue: darken($blue, 50%)
$dark-dark-blue: darken($blue, 70%)
$charcoal: hsl(0, 0, 20)
$dark-purple: #410521
$purple: lighten(#410521, 10%)
$dark-pink: lighten($purple, 10%)

$link-color: $purple
$focus-color: lighten(desaturate($blue, 50%), 10%)
$page-bg-color: white

$gap: 30px
$base-font-size: 20px
$base-line-height: 30px
$small-font-size: 15px
$small-line-height: 1.5
$small-gap: 15px
$blueprint-grid-columns: 4
$blueprint-grid-width: 7*$gap
$blueprint-grid-margin: 3*$gap
$grid-background-baseline-height: $base-line-height
$grid-background-baseline-color: hsla(0, 0, 0, 0.1)
$grid-background-column-color: hsla(0, 0, 0, 0.03)
$grid-background-column-width: $blueprint-grid-width
$grid-background-gutter-width: $blueprint-grid-margin
$grid-background-total-columns: $blueprint-grid-columns
$main-cols: 3
$sidebar-cols: 1

$show-grid-backgrounds: true

$responsive-small-width: 580px
$responsive-medium-width: 1300px

$thick-border-size: 6px
$thick-border-color: $charcoal

// ----------------------------------------------------------------------

@import responsive

=clearfix
  &:after
    content: ""
    display: table
    clear: both

=firefox
  @-moz-document url-prefix()
    @content

+responsive(medium large)
  @font-face
    font-family: 'Gothic'
    src: url('gothicl-webfont.eot')
    src: url('gothicl-webfont.eot?#iefix') format("embedded-opentype"), font-url('gothicl-webfont.woff2') format("woff2"), font-url('fonts/gothicl-webfont.woff') format("woff"), font-url('gothicl-webfont.ttf') format("truetype")
    font-weight: normal
    font-style: normal

=gothic
  font-family: Gothic !important
  font-variant: normal !important
  text-transform: lowercase !important

// ----------------------------------------------------------------------

=reset
  padding: 0
  margin: 0

=margined($size: 1rem)
  margin-top: 0
  margin-bottom: $size

=sans
  font-family: 'PT Sans', 'Helvetica Neue', Calibri, 'Droid Sans', Helvetica, Arial, sans-serif

=quick-serif
  font-family: Georgia, serif

=mono
  font-family: monospace

=heading-font
  &, a
    text-decoration: none
    font-family: english-small-caps, 'Adobe Garamod Pro', Times, serif
    font-variant: small-caps
    font-weight: normal
    .wf-loading &
      visibility: hidden

=content-font
  +quick-serif

=heading
  +margined
  +heading-font

=box-shadow
  box-shadow: 0px 0px 10px hsla(0,0,0,0.2)

=border-radius
  border-radius: 4px

=big-heading
  +heading
  font-size: 3rem
  line-height: 0.85

=small-heading
  +heading
  font-size: 2.5em
  line-height: 0.85
  text-transform: lowercase

=horizontal-list
  +clearfix
  li
    white-space: nowrap
    display: inline-block
    &:not(:last-child)
      padding-right: 0.5em

=placeholder
  &:-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content

=gothic-first
  +responsive(medium large)
    +clearfix
    &::first-letter
      +gothic
      font-size: 1.55em
      padding-top: 0.2em
      display: block
      float: left
      +firefox
        padding-top: 0.1em

=hanging-indent($size: 1em)
  display: inline-block
  padding-left: $size
  text-indent: -$size

// --------------------------------------------------
// base

@import normalize

html
  +content-font
  -webkit-text-rendering: optimizelegibility
  font-size: $base-font-size
  line-height: $base-line-height

  +responsive(small)
    font-size: $small-font-size
    line-height: $small-line-height

html, body
  height: 100%

body
  color: $charcoal
  position: relative
  background-color: $page-bg-color

p, ol, ul, dl, menu
  +margined

th
  text-align: left
  padding: 0.5em

th, td
  vertical-align: top

a
  text-decoration: none
  color: $link-color
  &:hover
    color: $dark-pink
    text-decoration: underline
  &:focus
    outline: none

ol, ul
  li
    list-style-type: square

h1, h2, h3, h4
  +heading

.centered
  text-align: center

// --------------------------------------------------

=my-container
  max-width: 35rem
  margin: 0 auto
  padding-left: 8vw
  padding-right: 8vw

.page
  +my-container

.page-header
  +my-container
  text-transform: lowercase
  padding-top: 2rem
  padding-bottom: 2rem
  +responsive(medium large)
    padding-top: 4rem
    padding-bottom: 4rem

.page-nav
  margin-left: -10px
  margin-top: 2rem

.nav-links
  +clearfix
  .nav-link
    display: block
    float: left
    padding-right: 10px
    padding-left: 10px
    border-bottom: 4px solid transparent
    &.current, &:hover
      border-color: $thick-border-color
      text-decoration: none
      color: $link-color

.page-title
  margin: 0
  a
    +big-heading
    +gothic-first
    color: $charcoal
    display: block
    font-weight: bold
    margin-bottom: 0
    margin-left: -0.1em
    small
      +responsive(medium large)
        font-weight: bold
    sup
      font-size: 50%
      top: -0.5em
      +responsive(medium large)
        font-weight: bold

.page-footer
  +my-container
  +margined
  font-size: 90%
  font-variant: small-caps
  text-align: center
  text-transform: lowercase
  margin-top: 4rem

  &::before
    $image: 'hr4.svg'
    background-image: image-url($image)
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain
    content: ''
    display: block
    height: 5em
    width: 100%

.search-form
  +clearfix
  border-top: 4px solid $thick-border-color
  border-bottom: 2px solid $thick-border-color
  display: block
  margin-top: 1rem
  *
    transition: all 0.1s

.search-input-span
  display: block
  width: 100%
  position: relative

.search-input
  +quick-serif
  background-color: transparent
  border: 0
  box-sizing: border-box
  color: $charcoal
  margin-bottom: 0
  margin-left: -0.2px
  margin-right: -0.2px
  margin-top: 0
  outline: 0
  padding-bottom: 3px
  padding-left: 10px
  padding-right: 9em
  padding-top: 3px
  width: 100%
  +placeholder
    +quick-serif

.search-button
  +quick-serif
  opacity: 0
  position: absolute
  background-color: $charcoal
  color: white
  text-transform: none
  &::after
    content: 'Search'
    padding: 0 2em
  top: 0
  bottom: 0
  right: 0
  border: 0
  outline: 0

  .search-input:active + &, .search-input:focus + &, &:active, &:focus
    opacity: 1
  &:active, &:focus
    background-color: lighten(black, 30%)

.content
  img
    display: none
    +responsive(medium large)
      display: block

header
  margin-bottom: 1rem
  .title
    margin-top: 0 !important
    margin-bottom: 0 !important
    a
      color: inherit
  .time
    color: hsl(0, 0, 50)

.article-list
  padding-left: 0
  li
    list-style-type: none
  margin-bottom: 1rem

.article
  margin-bottom: 4rem
  header
    margin-bottom: 1rem
  h1, h2, h3, h4
    margin-top: 3rem
    margin-bottom: 1rem

  // &:after
  //   $image: 'hr3.png'
  //   content: ''
  //   border: 0
  //   background: image-url($image) 50% 0 no-repeat
  //   margin: 3em auto
  //   height: image-height($image)
  //   width: image-width($image)
  //   display: block
  //   +responsive(small)
  //     background-size: 70%
  //     height: 0.7*image-height($image)
  //     width: 0.7*image-width($image)

.pagination
  +margined
  border-width: 2px 0 4px 0
  border-style: solid
  border-color: $thick-border-color
  padding-left: 10px
  padding-right: 10px
  margin-left: -10px
  margin-right: -10px
  margin-bottom: 2rem
  line-height: 2
  +clearfix
  .current-page
    float: left
  .page-links
    +horizontal-list
    float: right

// --------------------------------------------------

=with-flourish
  $image: 'flourish2.png'
  position: relative
  background: image-url($image) 50% 0 no-repeat
  background-size: 200%

div.highlight // not pre.highlight
  +mono
  +box-shadow
  +border-radius
  +with-flourish
  +margined
  display: block
  padding: $gap/2
  overflow-x: auto
  white-space: normal
  table
    +border-radius
    padding: $gap/2
    font-size: 13px
    line-height: 1.3
  .gutter
    color: #ccc
  pre
    white-space: pre
    word-wrap: normal
    margin: 0

body
  padding-bottom: 1rem

  &:before
    +box-shadow
    content: ''
    position: fixed
    z-index: -1
    height: 100%
    left: 0
    background-image: image-url('2099173.png')
    background-repeat: repeat-y
    background-position: top right
    border-right: $thick-border-size solid $thick-border-color
    background-size: 400px

  +responsive(small)
    &:before
      border-right: none

  +responsive(medium)
    $pretty-band-size: 50px
    position: relative
    padding-left: $pretty-band-size + $gap
    padding-right: $pretty-band-size
    &:before
      width: $pretty-band-size

  +responsive(large)
    $pretty-band-size: 200px
    position: relative
    padding-left: $pretty-band-size
    padding-right: $pretty-band-size
    &:before
      +box-shadow
      width: $pretty-band-size
      background-size: 2*$pretty-band-size

.about_me
  margin-bottom: 4rem
  p
    margin: 0

.contact_details
  margin-bottom: 4rem
  th
    padding: 0 1em 0 0
  +responsive(medium large)
    +with-flourish
    border-left: 4px solid $thick-border-color
    background-color: hsl(0, 0, 95)
    padding: 1em
    overflow: hidden

.prompt
  +margined
  font-size: 18px
  line-height: 1.3
  font-style: italic
  p
    margin: 0

.poem
  +margined(2rem)
  font-size: 18px
  line-height: 1.3
  white-space: pre-wrap
  .line
    +hanging-indent

=media-inset-margin
  margin-top: 2rem
  margin-bottom: 2rem
  +responsive(large)
    margin-left: 2rem
    margin-right: 2rem

=natural-fit-container
  position: relative
  height: 0
  overflow: hidden

=natural-fit-element
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

=top-bottom-borders
  border-width: $thick-border-size*2 0
  border-style: double
  border-color: $thick-border-color

article
  +clearfix

  +responsive(medium large)
    > .poem
      float: left
    > .poem + p
      float: right

  > p > img
    display: block
    max-width: 100%
    height: auto
    margin-left: auto
    margin-top: 2rem
    margin-bottom: 2rem
    margin-right: auto

  > p
    +responsive(large)
      text-align: justify

  > .video
    +media-inset-margin
    +natural-fit-container
    +top-bottom-borders
    padding-bottom: 56.25%
    padding-top: 30px
    iframe, object, embed
      +natural-fit-element
