---
layout: false
---

= partial 'blog', locals: { blog_name: 'slides', blog_title: 'Slides by Gregory McIntyre' } do
  %ul.article-list
    - blog('slides').articles.each do |article|
      %li
        %header<>
          %h2.title= link_to article.smart_title, article.url
          %time.time(pubdate="pubdate")= article.date.strftime('%e %b %Y')
