---
title: The Page of Swords
date: 2004-08-27 20:00 AEST
---

<div style="text-align:center;">

<img style="float: left; height:197px" src="/images/page-of-swords-g.png">
<img style="float: right; height:197px" src="/images/page-of-swords-l.png">

{%poem GM%}
<strong>Destroyer of Lives</strong>
She cries and she cries.
Destroyer of lives,
He swallows her love
And feeds her back lies.

<strong>The Page of Swords</strong>
His word is a sword that he holds in his throat.
She asks him to use it but even a note
Could cut her in two so he keeps it in check,
Inside where it cuts him from stomach to neck.

<strong>A Story from Inside</strong>
Locked in a cage he
Sleeps by his guard he
Hurts her with words he
Dreams of the seaside

{%endpoem%}

</div>
