---
layout: opinion/layout
---

%ul.article-list
  - blog('opinion').articles.each do |article|
    %li
      %header<>
        %h2.title= link_to article.smart_title, article.url
        %time.time(pubdate="pubdate")= article.date.strftime('%e %b %Y')
