---
pageable: true
per_page: 5
layout: gallery
---

<%-
  images = data['lifedrawing'].sort_by{|i| i.dest_filename }.reverse
-%>

<div class="gallery">
  <nav>
    <a href="../" class="back">Back</a>
    <div id="lightgallery">
      <%- images.each do |image| -%>
        <%- full = "./images/#{image.dest_filename}" -%>
        <%- thumb = "./images/thumbs/#{image.thumb_filename}" -%>
        <a href="<%= full %>"><img src="<%= thumb %>"></a>
      <%- end -%>
    </div>
  </nav>
  <div class="frame">
    <span class="helper"></span><img id="gallery_image" class="gallery-image" alt="" src="" style="border: none"/>
  </div>
</div>
