<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Gregory McIntyre{% if page.title %} - {{page.title}}{% endif %}</title>
  <meta name="description" content="Gregory McIntyre">
  <meta name="author" content="Gregory McIntyre">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/screen.css">
  <script src="/js/modernizr-1.6.min.js"></script>
</head>
<body lang="en">

  <div class="left">
    <h1><a href="index.html">Gregory McIntyre</a></h1>
    <ul class="nav">
      <li class="{% if page.url == '/index.html' or page.url == '/'%}current{% endif %}"><a href="/">About Me</a></li>
      <li class="{% if page.url == '/code.html' %}current{% endif %}"><a href="/code.html">Code</a></li>
      <li class="{% if page.url == '/drawing.html' %}current{% endif %}"><a href="/drawing.html">Drawing</a></li>
    </ul>
  </div>

  <div class="page right">
    {% if page.title %}
    <h2>{{page.title}}</h2>
    {% endif %}
    {{content}}
  </div>

  <div class="city right"></div>

  <script>
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    var pageTracker = _gat._getTracker("UA-4659649-5");
    pageTracker._trackPageview();
  </script>

</body>
</html>
