/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600;
    @apply hover:text-purple-600;
  }
}

html, body {
  font-family: comicshanns2;
}

@font-face {
  font-family: 'comicshanns2';
  src: url('/fonts/comicshanns2.ttf');
}
