%link{href: image_path('favicon-16x16.png'), rel: 'icon', sizes: '16x16', type: 'image/png'}
%link{href: image_path('favicon-32x32.png'), rel: 'icon', sizes: '32x32', type: 'image/png'}
%link{href: image_path('favicon.svg'), rel: 'icon', type: 'image/svg'}
