<!-- Default Statcounter code for My personal web site
https://gregorymcintyre.com -->
<script type="text/javascript">
var sc_project=12572820;
var sc_invisible=1;
var sc_security="7451526e";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
StatCounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12572820/0/7451526e/1/"
alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
