%form.search-form(action="//google.com/search" method="get" role="search")
  %input(type="hidden" name="sitesearch"){value: data.site.domain}
  %span.search-input-span
    %input.search-input(type="text" name="q" results="0" placeholder="Search")
    %button.search-button

-#%form.search-form(action="//duckduckgo.com/" method="get" role="search")
  %input(type="hidden" name="sites"){value: data.site.domain}
  %input{:name => "kh", :type => "hidden", :value => "1"}/
  %input{:name => "kn", :type => "hidden", :value => "1"}/
  %input{:name => "kac", :type => "hidden", :value => "1"}/
  %span.search-input-span
    %input.search-input(type="text" name="q" results="0" placeholder="Search")
    %button.search-button
