<footer>
  <div class="container">
    <span class="copyright">
      ©<br>
      2021<br>
      <a href="/">Gregory McIntyre</a><br>
      <a href="http://www.colourlovers.com/pattern/2099173/Kaleidoscope">Background</a> by
      <a href="http://www.colourlovers.com/lover/albenaj/loveNote">albenaj</a>
      &amp;
      <a href="http://www.colourlovers.com/lover/praxicalidocious/loveNote">praxicalidocious</a>
    </span>
  </div>
</footer>
